<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name=" inetBanking">

<listeners>
<listener class-name="inetBanking.utilities.Reporting"/>
</listeners>

<test name="test banking">
     <parameter name="browser" value="chrome"/>
     <classes>
     
     <class name="inetBanking.testcases.TC_LoginTest_001"/>   
    <!--   <class name="inetBanking.testcases.TC_LoginDD_001"/>  -->
       <!--   <class name="inetBanking.testcases.TC_AddCustomerTest_002"/> --> 
     </classes>




</test>


</suite>
        
